@page "/products"
@using Newtonsoft.Json
@using RitaAppBlazor.Data.Models
@using System.Text.Json
@using RitaAppBlazor.Data


<div class="main-container">
	<div class="przyjmij-container @(windowId == 1 ? "set-visible" : "set-hidden" )">
		@if (newProduct is not null)
		{
			<EditForm Model="@newProduct">
				<h2>Przyjmij produkt</h2>

				<label>Produkt:</label>
				<input type="text" id="productName" placeholder="Wpisz nazwę produktu" @bind="searchTextProductCard" @oninput="ProductCardsOnSearchChanged">
				@if (showProductCardsSuggestions && filteredProductCards.Any())
				{
					<ul class="suggestions">
						@foreach (var productCard in filteredProductCards)
						{
							<li @onclick="() => SelectNewProductCard(productCard)">@productCard.Name</li>
						}
					</ul>
				}

				<label>Magazyn:</label>
				<input type="text" id="warehouseName" placeholder="Wpisz nazwę magazynu" @bind="searchTextNewMagazine" @oninput="NewMagazinesOnSearchChanged">
				@if (showSuggestions && filteredMagazines.Any())
				{
					<ul class="suggestions">
						@foreach (var magazine in filteredMagazines)
						{
							<li @onclick="() => SelectNewMagazine(magazine)">@magazine.Name</li>
						}
					</ul>
				}

				<label>Ilość:</label>
				<div style="display: flex; align-items: center; gap: 10px">
					<div style="width: 30%; display: flex"><input type="number" id="quantity" min="1" placeholder="Wpisz ilość" @bind="newProduct.Amount"></div>
					<div style="width: 30%; display: flex">@newProduct.ProductCard.Unit.ShortName</div>
				</div>

				<label>Status:</label>
				<div class="checkbox-group">
					<div class="checkbox-active">
						<div class="checkbox-active">
							<input type="radio" name="status" checked="@(newProduct.Status == Status.Dostępny)" @onchange="() => newProduct.Status = Status.Dostępny" /><label>Dostępny</label>
						</div>
						<div class="checkbox-inactive">
							<input type="radio" name="status" @onchange="() => newProduct.Status = Status.Niedostępny" /><label>Niedostępny</label>
						</div>
					</div>
				</div>

				<div class="expiry-group">
					<input type="checkbox" value="checkedExpiryDate" id="expiryDateCheck" @onchange="ToggleExpiryDateChange">
					<label for="expiryDate">Data ważności:</label>
				</div>

				@if (checkedExpiryDate)
				{
					<input type="date" id="expiryDate" @bind-value="newProduct.ExpireDate" @bind-value:format="yyyy-MM-dd">
				}
				else
				{
					<input type="date" id="expiryDate" disabled value="N/D">
				}

				<label>Komentarz:</label>
				<textarea id="comment" placeholder="Dodaj komentarz" @bind="newProduct.Comment"></textarea>

				<div class="button-group">
					<button class="cancel-button" @onclick="()=>CloseWindow(10)">Anuluj</button>
					<button class="save-button" @onclick="()=>CreateProduct(newProduct)">Zapisz</button>
				</div>
			</EditForm>
		}
	</div>

	<div class="wydaj-container @(windowId == 2 ? "set-visible" : "set-hidden" )">
		<h2>Wydaj produkt</h2>

		<div style="display: flex; align-items: center; gap: 10px; margin-bottom: 0.5rem">
			<label>
				Aktualna ilość:
			</label>
			<div>6</div>
			<div>szt</div>
		</div>


		<label>
			Wydajesz:
		</label>
		<div style="display: flex; align-items: center; gap: 10px; margin-bottom:0.5rem">
			<div style="width: 30%; display: flex"><input type="number" id="quantity" min="1" placeholder="Wpisz ilość"></div>
			<div style="width: 30%; display: flex">szt</div>
		</div>

		<div style="display: flex; align-items: center; gap: 10px; margin-bottom: 0.5rem">
			<label>
				Ilośc po wydaniu:
			</label>
			<div>6</div>
			<div>szt</div>
		</div>

		<label>Komentarz:</label>
		<textarea id="comment" placeholder="Dodaj komentarz"></textarea>

		<div class="button-group">
			<button class="cancel-button" @onclick="()=>CloseWindow(10)">Anuluj</button>
			<button class="save-button" onclick="">Zapisz</button>
		</div>
	</div>

	<div class="wypożycz-container @(windowId == 3 ? "set-visible" : "set-hidden" )">
		<h2>Wypożycz produkt</h2>

		<div style="display: flex; align-items: center; gap: 10px; margin-bottom: 0.5rem">
			<label>
				Aktualna ilość:
			</label>
			<div>6</div>
			<div>szt</div>
		</div>

		<label>
			Wypożyczasz:
		</label>
		<div style="display: flex; align-items: center; gap: 10px; margin-bottom:0.5rem">
			<div style="width: 30%; display: flex"><input type="number" id="quantity" min="1" placeholder="Wpisz ilość"></div>
			<div style="width: 30%; display: flex">szt</div>
		</div>

		<div style="display: flex; align-items: center; gap: 10px;">
			<label>
				Ilośc po wypożyczeniu:
			</label>
			<div>6</div>
			<div>szt</div>
		</div>

		<label>Data wypożyczenia:</label>
		<input type="date" id="loanDate">

		<label>Wypożyczający:</label>
		<input type="text" id="lender" placeholder="Wpisz dane osoby">

		<label>Biorący:</label>
		<input type="text" id="borrower" placeholder="Wpisz dane osoby">

		<label>Komentarz:</label>
		<textarea id="comment" placeholder="Dodaj komentarz"></textarea>

		<div class="button-group">
			<button class="cancel-button" @onclick="()=>CloseWindow(10)">Anuluj</button>
			<button class="save-button" onclick="">Zapisz</button>
		</div>
	</div>

	<div class="edytuj-container @(windowId == 4 ? "set-visible" : "set-hidden" )">
		<h2>Edytuj produkt</h2>

		@if (tempProduct is not null)
		{
			<EditForm Model="@tempProduct">
				<label>Produkt:</label>
				<div>@tempProduct.ProductCard.Name</div>

				<label>Magazyn:</label>
				<input type="text" id="warehouseName" placeholder="Wpisz nazwę magazynu" @bind="searchText = tempProduct.Magazine.Name" @oninput="MagazinesOnSearchChanged">
				@if (showSuggestions && filteredMagazines.Any())
				{
					<ul class="suggestions">
						@foreach (var magazine in filteredMagazines)
						{
							<li @onclick="() => SelectEditedMagazine(magazine)">@magazine.Name</li>
						}
					</ul>
				}

				<label>Ilość:</label>
				<div style="display: flex; align-items: center; gap: 10px">
					<div style="width: 30%; display: flex"><input type="number" id="quantity" min="1" placeholder="Wpisz ilość" @bind="tempProduct.Amount"></div>
					<div style="width: 30%; display: flex">@tempProduct.ProductCard.Unit.ShortName</div>
				</div>

				<label>Status:</label>
				<div class="checkbox-group">
					<div class="checkbox-active">
						<input type="radio" name="status" checked="@(tempProduct.Status == Status.Dostępny)" @onchange="() => tempProduct.Status = Status.Dostępny" /><label>Dostępny</label>
					</div>
					<div class="checkbox-inactive">
						<input type="radio" name="status" checked="@(tempProduct.Status == Status.Niedostępny)" @onchange="() => tempProduct.Status = Status.Niedostępny" /><label>Niedostępny</label>
					</div>
				</div>

				<div class="expiry-group">
					<input type="checkbox" id="expiryDateCheck" checked="@(tempProduct.ExpireDate > DateTime.MinValue)" @onchange="ClearExpireDate">
					<label for="expiryDate">Data ważności:</label>
				</div>

				@if (tempProduct.ExpireDate > DateTime.MinValue)
				{
					<input type="date" id="expiryDate" @bind-value="tempProduct.ExpireDate" @bind-value:format="yyyy-MM-dd">
				}
				else
				{
					<input type="text" id="expiryDate" disabled value="N/D">
				}

				<label>Komentarz:</label>
				<textarea id="comment" placeholder="Dodaj komentarz" @bind="tempProduct.Comment"></textarea>

				<div class="button-group">
					<button class="cancel-button" @onclick="()=>CloseWindow(10)">Anuluj</button>
					<button class="save-button" @onclick="()=>UpdateProduct(tempProduct)">Zapisz</button>
				</div>
			</EditForm>
		}
	</div>

	<div class="nullProduct-container @(windowId == 8 ? "set-visible" : "set-hidden" )">
		<h2>Nie wybrano żadnego produktu.</h2>


		<div class="button-group">
			<button class="cancel-button" @onclick="()=>CloseWindow(10)">Anuluj</button>
		</div>
	</div>

	<div class="usuń-container @(windowId == 6 ? "set-visible" : "set-hidden")">
		<h2>Czy na pewno chcesz usunąć wybrany produkt?</h2>


		<div class="button-group">
			<button class="cancel-button" @onclick="()=>CloseWindow(10)">Anuluj</button>
			<button class="delete-button" onclick="">Usuń</button>
		</div>
	</div>

	<div class="details-container @(windowId == 7 ? "set-visible" : "set-hidden" )">
		<h2>Szczegóły</h2>
		@if (currentProduct is not null)
		{
			<label>
				Produkt:
			</label>
			<div>@currentProduct.ProductCard.Name</div>

			<label>
				Aktualna ilość:
			</label>
			<div>@currentProduct.Amount</div>
			<div>@currentProduct.ProductCard.Unit.Name (@currentProduct.ProductCard.Unit.ShortName)</div>

			<label>
				Kategorie produktu:
			</label>
			<div>@string.Join(", ", @currentProduct.ProductCard.Categories?.Select(p => p.Name))</div>

			<label>
				Dane magazynu:
			</label>
			<div>@currentProduct.Magazine.Name</div>
			<div>@currentProduct.Magazine.Location</div>

			<label>
				Status:
			</label>
			<div>@currentProduct.Status</div>

			<label>
				Komentarz:
			</label>
			<div>@currentProduct.Comment</div>

			<div class="button-group">
				<button class="close-button" @onclick="()=>CloseWindow(10)">Zamknij</button>
			</div>
		}
	</div>

	<div class="table-controls">
		<div class="search-bar">
			<input type="text" placeholder="Wyszukaj..." class="search-input" />
			<button class="search-button">Szukaj</button>
		</div>
		<div class="action-buttons">
			<button class="action-button" @onclick="()=>OpenWindow(1)">Przyjmij</button>
			<button class="action-button" @onclick="()=>OpenWindow(2)">Wydaj</button>
			<button class="action-button" @onclick="()=>OpenWindow(3)">Wypożycz</button>
			<button class="action-button" @onclick="()=>OpenWindow(4)">Edytuj</button>
			<button class="action-button">Filtruj</button>
			<button class="action-button" @onclick="()=>OpenWindow(6)">Usuń</button>
		</div>
	</div>

	<div class="table-container">
		<table class="products-table">
			<thead>
				<tr>
					<th>Nazwa</th>
					<th>Kategorie</th>
					<th>Magazyn</th>
					<th>Ilość</th>
					<th>Jednostka</th>
					<th>Dostępność</th>
					<th>Termin Ważności</th>
					<th>Szczegóły</th>
				</tr>
			</thead>
			<tbody>
				@if (products is not null)
				{
					@foreach (var product in products)
					{
						<tr id="@product.Id" @onclick="()=>SetCurrentProduct(product)">
							<td>@product.ProductCard?.Name</td>
							<td>@string.Join(", ", @product.ProductCard.Categories?.Select(p => p.Name))</td>
							<td>@product.Magazine.Name</td>
							<td>@product.Amount</td>
							<td>@product.ProductCard?.Unit?.ShortName</td>
							<td>@product.Status</td>
							<td>
								@if (@product.ExpireDate > DateTime.MinValue)
								{
									@product.ExpireDate.ToString("dd.MM.yyyy")
								}
								else
								{
									@productWithoutExpireDate
								}
							</td>
							<td class="td-info"><button class="info-button" @onclick="()=>OpenWindow(7)"><img src="images/info.png" alt="i" class="info-icon" /></button></td>
						</tr>
					}}
			</tbody>
		</table>
	</div>
</div>




@code {
	private bool checkedExpiryDate { get; set; } = false;
	private Product currentProduct;
	private Product tempProduct = new();
	private Product newProduct = new();
	private string searchText;
	private string searchTextNewMagazine;
	private string searchTextProductCard;
	private string magazineInput;
	private bool showSuggestions = true;
	private bool showProductCardsSuggestions = true;
	private int windowId = 0;
	private string productWithoutExpireDate = "N/D";

	HttpClient httpClient = new();

	private List<Product>? products;
	private List<ProductCard>? productCards = new();
	private List<ProductCard> filteredProductCards = new();
	private List<Magazine>? allMagazines = new();
	private List<Magazine> filteredMagazines = new();

	protected async override Task OnInitializedAsync()
	{
		var productResponse = await httpClient.GetAsync("http://localhost:5000/api/Products");
		var magazineResponse = await httpClient.GetAsync("http://localhost:5000/api/Magazines");
		var productCardResponse = await httpClient.GetAsync("http://localhost:5000/api/ProductCards");

		if (productResponse.IsSuccessStatusCode)
		{
			var productText = await productResponse.Content.ReadAsStringAsync();
			products = System.Text.Json.JsonSerializer.Deserialize<List<Product>>(productText);
		}

		if (magazineResponse.IsSuccessStatusCode)
		{
			var magazineText = await magazineResponse.Content.ReadAsStringAsync();
			allMagazines = System.Text.Json.JsonSerializer.Deserialize<List<Magazine>>(magazineText);
		}

		if (productCardResponse.IsSuccessStatusCode)
		{
			var productCardText = await productCardResponse.Content.ReadAsStringAsync();
			productCards = System.Text.Json.JsonSerializer.Deserialize<List<ProductCard>>(productCardText);
		}
		StateHasChanged();

		return;
	}


	protected async Task UpdateProduct(Product product)
	{
		var json = JsonConvert.SerializeObject(product);
		var data = new StringContent(json, System.Text.Encoding.UTF8, "application/json");
		var response = await httpClient.PutAsync("http://localhost:5000/api/Products", data);
		if (response.IsSuccessStatusCode)
		{
			CloseWindow(10);
			StateHasChanged();
		}
		else
		{
			var errorMessage = await response.Content.ReadAsStringAsync();
			Console.WriteLine($"Błąd: {errorMessage}");
		}

	}

	protected async Task CreateProduct(Product product)
	{
		var json = JsonConvert.SerializeObject(product);
		var data = new StringContent(json, System.Text.Encoding.UTF8, "application/json");
		var response = await httpClient.PostAsync("http://localhost:5000/api/Products", data);
		if (response.IsSuccessStatusCode)
		{
			CloseWindow(10);
			StateHasChanged();
		}
		else
		{
			var errorMessage = await response.Content.ReadAsStringAsync();
			Console.WriteLine($"Błąd: {errorMessage}");
		}

	}

	private void SetCurrentProduct(Product product)
	{
		currentProduct = product;
	}

	private void EditProduct(Product product)
	{
		if (product is not null)
		{
			tempProduct = new Product
				{
					Id = currentProduct.Id,
					CreatedDate = currentProduct.CreatedDate,
					Magazine = new Magazine
					{
						Id = currentProduct.Magazine.Id,
						Name = currentProduct.Magazine.Name,
						Location = currentProduct.Magazine.Location
					},
					MagazineId = currentProduct.MagazineId,
					Amount = currentProduct.Amount,
					ProductCard = new ProductCard
					{
						Id = currentProduct.ProductCard.Id,
						Name = currentProduct.ProductCard.Name,
						CategoryId = currentProduct.ProductCard.CategoryId,
						Categories = currentProduct.ProductCard.Categories
										.Select(c => new Category { Id = c.Id, Name = c.Name })
										.ToList(),
						Unit = new Unit
						{
							Id = currentProduct.ProductCard.Unit.Id,
							Name = currentProduct.ProductCard.Unit.Name,
							ShortName = currentProduct.ProductCard.Unit.ShortName
						},
						UnitId = currentProduct.ProductCard.UnitId
					},
					ProductCardId = currentProduct.ProductCardId,
					Status = currentProduct.Status,
					ExpireDate = currentProduct.ExpireDate,
					Comment = currentProduct.Comment,
					LoanDate = currentProduct.LoanDate,
					Lender = currentProduct.Lender,
					Borrower = currentProduct.Borrower
				};
		}
	}

	private void ClearExpireDate(ChangeEventArgs e)
	{
		if (!(bool)e.Value)
		{
			tempProduct.ExpireDate = DateTime.MinValue;
		}
		else
		{
			tempProduct.ExpireDate = DateTime.Now;
		}
	}

	private void ToggleExpiryDateChange(ChangeEventArgs e)
	{
		checkedExpiryDate = (bool)e.Value;
		if (checkedExpiryDate)
		{
			newProduct.ExpireDate = DateTime.Now;
		}
		else
		{
			newProduct.ExpireDate = DateTime.MinValue; 
		}
	}


	private void MagazinesOnSearchChanged(ChangeEventArgs e)
	{
		searchText = e.Value.ToString();

		if (string.IsNullOrWhiteSpace(searchText))
		{
			// Ukryj sugestie, jeśli pole jest puste
			showSuggestions = false;
			filteredMagazines.Clear();
		}
		else
		{
			// Pokazuj sugestie, gdy tekst jest wpisany
			showSuggestions = true;
			filteredMagazines = allMagazines
				.Where(m => m.Name.Contains(searchText, StringComparison.OrdinalIgnoreCase))
				.ToList();
		}

		StateHasChanged();
	}

	private void NewMagazinesOnSearchChanged(ChangeEventArgs e)
	{
		searchTextNewMagazine = e.Value.ToString();

		if (string.IsNullOrWhiteSpace(searchTextNewMagazine))
		{
			// Ukryj sugestie, jeśli pole jest puste
			showSuggestions = false;
			filteredMagazines.Clear();
		}
		else
		{
			// Pokazuj sugestie, gdy tekst jest wpisany
			showSuggestions = true;
			filteredMagazines = allMagazines
				.Where(m => m.Name.Contains(searchTextNewMagazine, StringComparison.OrdinalIgnoreCase))
				.ToList();
		}

		StateHasChanged();
	}

	private void ProductCardsOnSearchChanged(ChangeEventArgs e)
	{
		searchTextProductCard = e.Value.ToString();

		if (string.IsNullOrWhiteSpace(searchTextProductCard))
		{
			// Ukryj sugestie, jeśli pole jest puste
			showProductCardsSuggestions = false;
			filteredProductCards.Clear();
		}
		else
		{
			// Pokazuj sugestie, gdy tekst jest wpisany
			showProductCardsSuggestions = true;
			filteredProductCards = productCards
				.Where(m => m.Name.Contains(searchTextProductCard, StringComparison.OrdinalIgnoreCase))
				.ToList();
		}

		StateHasChanged();
	}

	private void SelectEditedMagazine(Magazine magazine)
	{
		tempProduct.Magazine = magazine;
		searchText = magazine.Name;
		tempProduct.MagazineId = magazine.Id;
		filteredMagazines.Clear();
		showSuggestions = false;
	}

	private void SelectNewMagazine(Magazine magazine)
	{
		newProduct.Magazine = magazine;
		searchTextNewMagazine = magazine.Name;
		newProduct.MagazineId = magazine.Id;
		filteredMagazines.Clear();
		showSuggestions = false;
	}

	private void SelectNewProductCard(ProductCard productCard)
	{
		newProduct.ProductCard = productCard;
		searchTextProductCard = productCard.Name;
		newProduct.ProductCardId = productCard.Id;
		filteredProductCards.Clear();
		showProductCardsSuggestions = false;
	}

	private void OpenWindow(int id)
	{
		if (id == 4 && currentProduct is not null)
		{
			EditProduct(currentProduct);
			windowId = id;
		}
		else if (id == 4 && currentProduct is null)
		{
			windowId = 8;
		}
		else if (id == 1)
		{
			newProduct = new();
			searchTextProductCard = "";
			searchTextNewMagazine = "";
			checkedExpiryDate = false;
			windowId = id;
		}
		else
		{
			windowId = id;
		}
	}

	private void CloseWindow(int id)
	{
		windowId = id;
	}
}
